// 清除浮动
@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// 单行位置省略号， `$substract`单位为%
@mixin ellipsis($substract: 0) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100% - $substract;
}